/* Universal selector */
* {
    padding: 3px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Styling of the main body elements */
body {
    background-color: rgb(230, 240, 255);
}

section {
    width: 60%;
    margin: auto;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
}

header > button, p {
    margin: 0;
}

#view_scores {
    background-color: rgb(230, 240, 255);
    color: rgb(137, 100, 240);
    border: none;
    text-decoration: underline;
}

/* Welcome message/home page styling */
#welcome_card p {
    font-size: larger;
}

button {
    display: flex;
    background-color: rgb(2, 2, 139);
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: pink;
}

h1 {
    font-size: xx-large;
}

h1, #welcome_details {
    text-align: center;
}

#start {
    margin: 5px auto auto auto;
    padding: 3px 10px;
}

/* Quiz questions styling */
#question_card {
    display: flex;
    margin: auto;
    flex-direction: column;
}

h2 {
    font-size: x-large;
}

#question_text, #choice_wrapper {
    width: 60%;
    margin: 0;
}

#choice_wrapper {
    display: flex;
    flex-direction: column;
}

.choices {
    margin: 3px 3px 10px 0;
    width: 200px;
}

/* Initials/high score entry styling */
#initials_entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entry_box {
    padding: 3px 0;
}

#entry_box > h2, p, form {
    padding: 3px 0;
}

form {
    display: flex;
}

form > label, input, button {
    display: flex;
    margin: 0 6px 0 0;
}

form label {
    padding: 3px 0 0 0;
}

form button {
    padding: 3px 10px;
}

/* Correct/wrong answer message styling */
#question_result {
    width: 60%;
    text-align: left;
    font-style: italic;
    color: gray;
    opacity: 0.8;
    border-top: 2px solid gray;
}

h3 {
    font-size: x-large;
    padding: 3px 3px 6px 3px;
}

/* High scores page styling */
ol li {
    background-color: rgb(208, 196, 240);
    margin: 0 0 8px 0;
}

#high_scores {
    display: block;
    margin-top: 50px;
}

#high_scores section {
    margin: 0;
    display: flex;
    padding: 0 6px 0 3px;
}

/* Styling for different pointer devices */

@media (pointer:fine) {
    #view_scores:hover {
        color: rgb(212, 6, 40);
        box-shadow: 0 5px 15px rgba(230, 240, 255, 0.9);
    }
}

@media (pointer: coarse), (pointer: none) {
    #view_scores:active {
        color: rgb(212, 6, 40);
        box-shadow: 0 5px 15px rgba(230, 240, 255, 0.9);
    }
}