* {
    padding: 3px;
    margin: auto;
}

[hidden] {
    display: none;
}

section {
    width: 60%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header > button, p {
    margin: 0;
}

#view_scores {
    background-color: white;
    color: rgb(240, 100, 123);
    border: none;
}

button {
    display: flex;
    background-color: rgb(2, 2, 139);
    color: white;
}

button:hover {
    background-color: pink;
}

h1, #welcome_details {
    text-align: center;
}

#question_card {
    display: flex;
    margin: auto;
    flex-direction: column;
}

#question_text, #choice_wrapper {
    width: 60%;
    margin: 0;
}

#choice_wrapper {
    display: flex;
    flex-direction: column;
}

.choices {
    margin: 0;
    width: fit-content;
}

#initials_entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
}

form > label, input, button {
    display: flex;
    margin: 0;
}

h3 {
    width: 60%;
    text-align: left;
    font-style: italic;
    color: lightgray;
    opacity: 0.9;
}