* {
    padding: 3px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

[hidden] {
    display: none;
}

section {
    width: 60%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header > button, p {
    margin: 0;
}

#view_scores {
    background-color: white;
    color: rgb(240, 100, 123);
    border: none;
}

button {
    display: flex;
    background-color: rgb(2, 2, 139);
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: pink;
}

h1 {
    font-size: xx-large;
}

h1, #welcome_details {
    text-align: center;
}

#start {
    margin: auto;
    padding: 3px 10px;
}

#question_card {
    display: flex;
    margin: auto;
    flex-direction: column;
}

h2 {
    font-size: x-large;
}

#question_text, #choice_wrapper {
    width: 60%;
    margin: 0;
}

#choice_wrapper {
    display: flex;
    flex-direction: column;
}

.choices {
    margin: 3px 3px 3px 0;
    width: 200px;
}

#initials_entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entry_box {
    padding: 3px 0;
}

#entry_box > h2, p, form {
    padding: 3px 0;
}

form {
    display: flex;
}

form > label, input, button {
    display: flex;
    margin: 0 6px 0 0;
}

form label {
    padding: 3px 0 0 0;
}

form button {
    padding: 3px 10px;
}

h3 {
    width: 60%;
    text-align: left;
    font-style: italic;
    color: gray;
    opacity: 0.8;
    border-top: 2px solid gray;
}